<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.halfblood.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Que" />
        <activity android:name=".Home" />
        <activity android:name=".Register" />
        <activity android:name=".Today" />
        <activity android:name=".List_Schedule" />
        <activity android:name=".Search" />
        <activity android:name=".Create_Message" />
        <activity android:name=".Create_Schedule" />
        <activity android:name=".Event" />
        <activity android:name=".Create_Patient" />
        <activity android:name=".Marge" />
        <activity android:name=".Update" />
        <activity android:name=".Transaction" />
        <activity android:name=".Patient_History" />
        <activity android:name=".View_Message" />
        <activity
            android:name=".List_Schedule1"
            android:label="@string/title_activity_list__schedule1"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>